<component name="ArtifactManager">
  <artifact type="war" name="Springboot_Netty_Client:war">
    <output-path>$PROJECT_DIR$/Springboot_Netty/Springboot_Netty_Client/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>Springboot_Netty_Client</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="Springboot_Netty_Client.war">
      <element id="artifact" artifact-name="Springboot_Netty_Client:war exploded" />
    </root>
  </artifact>
</component>